- Droping Columns
- Droping Rows
- Various parameter in droping Functionality 
- Handling Missing Value By Mean, Median, Moad

In [36]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('parctice2').getOrCreate()

In [37]:
spark.read.csv('missdata.csv',header=True,inferSchema=True)

DataFrame[Name: string, Age: int, Expirience Salary: int]

In [38]:
df_pyspark=spark.read.csv('missdata.csv',header=True,inferSchema=True)

In [39]:
spark.read.csv('missdata.csv',header=True,inferSchema=True).show()

+--------+----+-----------------+
|    Name| Age|Expirience Salary|
+--------+----+-----------------+
| Avinash|  28|           100000|
|Saipriya|  26|            90000|
|   Anuja|  26|            80000|
| Shubhee|  22|            50000|
|  Surbhi|  23|            33000|
|   Pooja|null|             null|
|Priyanka|  29|            61000|
|Harshda |  30|            83000|
|    null|  34|            71000|
|    null|  31|             null|
+--------+----+-----------------+

In [40]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [41]:
# drop the columns
df_pyspark.drop('Name').show()

+----+-----------------+
| Age|Expirience Salary|
+----+-----------------+
|  28|           100000|
|  26|            90000|
|  26|            80000|
|  22|            50000|
|  23|            33000|
|null|             null|
|  29|            61000|
|  30|            83000|
|  34|            71000|
|  31|             null|
+----+-----------------+

In [42]:
df_pyspark.show()

+--------+----+-----------------+
|    Name| Age|Expirience Salary|
+--------+----+-----------------+
| Avinash|  28|           100000|
|Saipriya|  26|            90000|
|   Anuja|  26|            80000|
| Shubhee|  22|            50000|
|  Surbhi|  23|            33000|
|   Pooja|null|             null|
|Priyanka|  29|            61000|
|Harshda |  30|            83000|
|    null|  34|            71000|
|    null|  31|             null|
+--------+----+-----------------+

In [43]:
# dropping null values
df_pyspark.na.drop().show()

+--------+---+-----------------+
|    Name|Age|Expirience Salary|
+--------+---+-----------------+
| Avinash| 28|           100000|
|Saipriya| 26|            90000|
|   Anuja| 26|            80000|
| Shubhee| 22|            50000|
|  Surbhi| 23|            33000|
|Priyanka| 29|            61000|
|Harshda | 30|            83000|
+--------+---+-----------------+

In [44]:
# any==how
df_pyspark.na.drop(how='all').show()

+--------+----+-----------------+
|    Name| Age|Expirience Salary|
+--------+----+-----------------+
| Avinash|  28|           100000|
|Saipriya|  26|            90000|
|   Anuja|  26|            80000|
| Shubhee|  22|            50000|
|  Surbhi|  23|            33000|
|   Pooja|null|             null|
|Priyanka|  29|            61000|
|Harshda |  30|            83000|
|    null|  34|            71000|
|    null|  31|             null|
+--------+----+-----------------+

In [45]:
df_pyspark.na.drop(how='any').show()

+--------+---+-----------------+
|    Name|Age|Expirience Salary|
+--------+---+-----------------+
| Avinash| 28|           100000|
|Saipriya| 26|            90000|
|   Anuja| 26|            80000|
| Shubhee| 22|            50000|
|  Surbhi| 23|            33000|
|Priyanka| 29|            61000|
|Harshda | 30|            83000|
+--------+---+-----------------+

In [46]:
# threshhold   # threshhold if we put thresh=2 means atlest 2 null value must be present in any row
df_pyspark.na.drop(how="any",thresh=2).show()

+--------+---+-----------------+
|    Name|Age|Expirience Salary|
+--------+---+-----------------+
| Avinash| 28|           100000|
|Saipriya| 26|            90000|
|   Anuja| 26|            80000|
| Shubhee| 22|            50000|
|  Surbhi| 23|            33000|
|Priyanka| 29|            61000|
|Harshda | 30|            83000|
|    null| 34|            71000|
+--------+---+-----------------+

In [47]:
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+---+-----------------+
|    Name|Age|Expirience Salary|
+--------+---+-----------------+
| Avinash| 28|           100000|
|Saipriya| 26|            90000|
|   Anuja| 26|            80000|
| Shubhee| 22|            50000|
|  Surbhi| 23|            33000|
|Priyanka| 29|            61000|
|Harshda | 30|            83000|
+--------+---+-----------------+

In [48]:
# Subset # if we want to drop a null value any specific columns
df_pyspark.na.drop(how='any',subset=['Expirience Salary']).show()

+--------+---+-----------------+
|    Name|Age|Expirience Salary|
+--------+---+-----------------+
| Avinash| 28|           100000|
|Saipriya| 26|            90000|
|   Anuja| 26|            80000|
| Shubhee| 22|            50000|
|  Surbhi| 23|            33000|
|Priyanka| 29|            61000|
|Harshda | 30|            83000|
|    null| 34|            71000|
+--------+---+-----------------+

In [49]:
# Filling the missing value
df_pyspark.na.fill("Missing Value..").show()   # replace missing value with null values

+---------------+----+-----------------+
|           Name| Age|Expirience Salary|
+---------------+----+-----------------+
|        Avinash|  28|           100000|
|       Saipriya|  26|            90000|
|          Anuja|  26|            80000|
|        Shubhee|  22|            50000|
|         Surbhi|  23|            33000|
|          Pooja|null|             null|
|       Priyanka|  29|            61000|
|       Harshda |  30|            83000|
|Missing Value..|  34|            71000|
|Missing Value..|  31|             null|
+---------------+----+-----------------+

In [51]:
df_pyspark.na.fill("Missing Value..","Expirience Salary").show()  # replace any specific column missing value

+--------+----+-----------------+
|    Name| Age|Expirience Salary|
+--------+----+-----------------+
| Avinash|  28|           100000|
|Saipriya|  26|            90000|
|   Anuja|  26|            80000|
| Shubhee|  22|            50000|
|  Surbhi|  23|            33000|
|   Pooja|null|             null|
|Priyanka|  29|            61000|
|Harshda |  30|            83000|
|    null|  34|            71000|
|    null|  31|             null|
+--------+----+-----------------+

In [52]:
df_pyspark

DataFrame[Name: string, Age: int, Expirience Salary: int]

In [53]:
df_pyspark.show()

+--------+----+-----------------+
|    Name| Age|Expirience Salary|
+--------+----+-----------------+
| Avinash|  28|           100000|
|Saipriya|  26|            90000|
|   Anuja|  26|            80000|
| Shubhee|  22|            50000|
|  Surbhi|  23|            33000|
|   Pooja|null|             null|
|Priyanka|  29|            61000|
|Harshda |  30|            83000|
|    null|  34|            71000|
|    null|  31|             null|
+--------+----+-----------------+

In [55]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Name','Age','Expirience Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Name','Age','Expirience Salary']]                    
    ).setStrategy("mean")

TypeError: Invalid param value given for param "inputCol". Could not convert <class 'list'> to string type

In [56]:
imputer.fit(df_pyspark).trasform(df_pyspark).show()

NameError: name 'imputer' is not defined