### Python GroupBy and Aggregate Function

In [20]:
from pyspark.sql import SparkSession

In [21]:
Spark=SparkSession.builder.appName("FunctionPrac").getOrCreate()

In [22]:
Spark

In [23]:
df_pyspark=Spark.read.csv("Department.csv",header=True,inferSchema=True)

In [24]:
df_pyspark.show()

+--------+-------------+------+
|    Name|   Department|Salary|
+--------+-------------+------+
| Avinash| Data Science|100000|
|SaiPriya|          IOT| 88000|
|   Anuja|      BigData| 71000|
|Priyanka|      BigData| 68000|
|   Pooja|Data Enginner| 81000|
|Harshada| Data Science| 90000|
| Prajkta|          IOT| 55000|
+--------+-------------+------+

In [26]:
# GroupBy Operation  
df_pyspark.groupBy("Name")                             # return type is GroupData

##### GropuBy and Aggregate Function are works togather, meanes we need to first apply groupBy functionlity then we apply Aggregate

In [43]:
# Grouped to find maximum salary
df_pyspark.groupBy("Name").max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
| Prajkta|      55000|
|   Anuja|      71000|
|SaiPriya|      88000|
|Harshada|      90000|
| Avinash|     100000|
|   Pooja|      81000|
|Priyanka|      68000|
+--------+-----------+

In [35]:
# groupBy Departments which gives maximum salary
df_pyspark.groupBy('Department').sum().show()

+-------------+-----------+
|   Department|sum(Salary)|
+-------------+-----------+
|          IOT|     143000|
|      BigData|     139000|
| Data Science|     190000|
|Data Enginner|      81000|
+-------------+-----------+

In [36]:
df_pyspark.groupBy('Department').mean().show()

+-------------+-----------+
|   Department|avg(Salary)|
+-------------+-----------+
|          IOT|    71500.0|
|      BigData|    69500.0|
| Data Science|    95000.0|
|Data Enginner|    81000.0|
+-------------+-----------+

In [37]:
df_pyspark.groupBy('Department').count().show()

+-------------+-----+
|   Department|count|
+-------------+-----+
|          IOT|    2|
|      BigData|    2|
| Data Science|    2|
|Data Enginner|    1|
+-------------+-----+

In [39]:
df_pyspark.agg({'Salary':'sum'}).show()   # total salary

+-----------+
|sum(Salary)|
+-----------+
|     553000|
+-----------+

In [41]:
# find maximum salary
df_pyspark.groupBy('Name').max()

DataFrame[Name: string, max(Salary): int]

In [42]:
df_pyspark.show()

+--------+-------------+------+
|    Name|   Department|Salary|
+--------+-------------+------+
| Avinash| Data Science|100000|
|SaiPriya|          IOT| 88000|
|   Anuja|      BigData| 71000|
|Priyanka|      BigData| 68000|
|   Pooja|Data Enginner| 81000|
|Harshada| Data Science| 90000|
| Prajkta|          IOT| 55000|
+--------+-------------+------+