### Pyspark DataFrames 
 - Filter Operation 
 - &,|,==
 - ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
Spark=SparkSession.builder.appName('FilterPraactice').getOrCreate()

In [6]:
df_pyspark=Spark.read.csv('FilterData.csv',header=True,inferSchema=True)

In [8]:
df_pyspark

DataFrame[Name: string, Age: int, Expirience: int, Salary: int]

In [9]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Expirience|Salary|
+--------+---+----------+------+
| Avinash| 28|         4|100000|
|SaiPriya| 26|         2| 80000|
|   Anuja| 22|         3| 77000|
| Shubhee| 27|         4| 81000|
|Priyanka| 25|         3| 68000|
|   Pooja| 24|         3| 50000|
|   Komal| 28|         6| 44000|
| Harshda| 29|         5| 93000|
|  Amruta| 21|         3| 44000|
+--------+---+----------+------+

### Filter Operation using Pyspark

In [10]:
# find out salary less than or equal to 70000
df_pyspark.filter('Salary<=70000').show()               # 1st method

+--------+---+----------+------+
|    Name|Age|Expirience|Salary|
+--------+---+----------+------+
|Priyanka| 25|         3| 68000|
|   Pooja| 24|         3| 50000|
|   Komal| 28|         6| 44000|
|  Amruta| 21|         3| 44000|
+--------+---+----------+------+

In [11]:
df_pyspark.filter('Salary<=70000').select(['Name','Age']).show()    # only selected columns

+--------+---+
|    Name|Age|
+--------+---+
|Priyanka| 25|
|   Pooja| 24|
|   Komal| 28|
|  Amruta| 21|
+--------+---+

In [13]:
df_pyspark.filter(df_pyspark['Salary']<=70000).show()   # 2nd method

+--------+---+----------+------+
|    Name|Age|Expirience|Salary|
+--------+---+----------+------+
|Priyanka| 25|         3| 68000|
|   Pooja| 24|         3| 50000|
|   Komal| 28|         6| 44000|
|  Amruta| 21|         3| 44000|
+--------+---+----------+------+

In [17]:
df_pyspark.filter((df_pyspark['Salary']>=70000) & (df_pyspark['Salary']<=80000)).show()   # using & operator we can give multiple conditions

+--------+---+----------+------+
|    Name|Age|Expirience|Salary|
+--------+---+----------+------+
|SaiPriya| 26|         2| 80000|
|   Anuja| 22|         3| 77000|
+--------+---+----------+------+

In [18]:
df_pyspark.filter((df_pyspark['Salary']>=70000) | (df_pyspark['Salary']<=80000)).show()

+--------+---+----------+------+
|    Name|Age|Expirience|Salary|
+--------+---+----------+------+
| Avinash| 28|         4|100000|
|SaiPriya| 26|         2| 80000|
|   Anuja| 22|         3| 77000|
| Shubhee| 27|         4| 81000|
|Priyanka| 25|         3| 68000|
|   Pooja| 24|         3| 50000|
|   Komal| 28|         6| 44000|
| Harshda| 29|         5| 93000|
|  Amruta| 21|         3| 44000|
+--------+---+----------+------+

In [19]:
df_pyspark.filter(~(df_pyspark['Salary']<=70000)).show()    # ~ not Operator

+--------+---+----------+------+
|    Name|Age|Expirience|Salary|
+--------+---+----------+------+
| Avinash| 28|         4|100000|
|SaiPriya| 26|         2| 80000|
|   Anuja| 22|         3| 77000|
| Shubhee| 27|         4| 81000|
| Harshda| 29|         5| 93000|
+--------+---+----------+------+