- Pyspark Dataframe
- Reading the Dataset
- Cheking the datatype  of the column(schema)
- Selecting columns and indexing
- check described option semilar to pandas 
- Adding columns
- Droping Colimns

In [1]:
# first import spark session 
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()  # store in variable  # actually start a session

In [3]:
spark

In [10]:
# read dataset
df_pyspark=spark.read.option('header','true').csv('mtcars.csv')

In [18]:
df_pyspark=spark.read.option('header','true').csv('mtcars.csv',inferSchema=True) # inferSchema = true

In [19]:
spark.read.option('header','true').csv('mtcars.csv').show(10)

+----+---+-----+---+----+-----+-----+---+---+----+----+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+----+---+-----+---+----+-----+-----+---+---+----+----+
|  21|  6|  160|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|  21|  6|  160|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|22.8|  4|  108| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|21.4|  6|  258|110|3.08|3.215|19.44|  1|  0|   3|   1|
|18.7|  8|  360|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|18.1|  6|  225|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|14.3|  8|  360|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|24.4|  4|146.7| 62|3.69| 3.19|   20|  1|  0|   4|   2|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 10 rows

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
# check the schema (datatype)
df_pyspark.printSchema()   # bydefault it take datatype as 'string' resone is, we need to give inferschema=True while reading the csv

root
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [24]:
df_pyspark=spark.read.csv('mtcars.csv',header=True,inferSchema=True)
df_pyspark.show()

+----+---+-----+---+----+-----+-----+---+---+----+----+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+----+---+-----+---+----+-----+-----+---+---+----+----+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

In [25]:
# check the schema (datatype)
df_pyspark.printSchema()

root
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [29]:
# how we can get all the columns
df_pyspark.columns

['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

In [31]:
# how to pickup the columns
df_pyspark.select('cyl')

DataFrame[cyl: int]

In [33]:
# how to pickup the columns
df_pyspark.select('cyl').show()

+---+
|cyl|
+---+
|  6|
|  6|
|  4|
|  6|
|  8|
|  6|
|  8|
|  4|
|  4|
|  6|
|  6|
|  8|
|  8|
|  8|
|  8|
|  8|
|  8|
|  4|
|  4|
|  4|
+---+
only showing top 20 rows

In [34]:
type(df_pyspark.select('cyl'))

pyspark.sql.dataframe.DataFrame

In [35]:
# pickup multiple columns
df_pyspark.select(['cyl','disp','hp'])

DataFrame[cyl: int, disp: double, hp: int]

In [37]:
df_pyspark.select(['cyl','disp','hp']).show()

+---+-----+---+
|cyl| disp| hp|
+---+-----+---+
|  6|160.0|110|
|  6|160.0|110|
|  4|108.0| 93|
|  6|258.0|110|
|  8|360.0|175|
|  6|225.0|105|
|  8|360.0|245|
|  4|146.7| 62|
|  4|140.8| 95|
|  6|167.6|123|
|  6|167.6|123|
|  8|275.8|180|
|  8|275.8|180|
|  8|275.8|180|
|  8|472.0|205|
|  8|460.0|215|
|  8|440.0|230|
|  4| 78.7| 66|
|  4| 75.7| 52|
|  4| 71.1| 65|
+---+-----+---+
only showing top 20 rows

#### in pyspark slicing not possible

In [44]:
df_pyspark.dtypes

[('mpg', 'double'),
 ('cyl', 'int'),
 ('disp', 'double'),
 ('hp', 'int'),
 ('drat', 'double'),
 ('wt', 'double'),
 ('qsec', 'double'),
 ('vs', 'int'),
 ('am', 'int'),
 ('gear', 'int'),
 ('carb', 'int')]

In [47]:
df_pyspark.describe()

DataFrame[summary: string, mpg: string, cyl: string, disp: string, hp: string, drat: string, wt: string, qsec: string, vs: string, am: string, gear: string, carb: string]

In [48]:
df_pyspark.describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+
|summary|               mpg|               cyl|              disp|               hp|              drat|                wt|              qsec|                vs|                 am|              gear|              carb|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+
|  count|                32|                32|                32|               32|                32|                32|                32|                32|                 32|                32|                32|
|   mean|20.090624999999996|            6.1875|230.72187500000004|         146.6875|3.5965625000000006|3.2172499999999995|17.848750000000003|            0.4375|            0.40625|            3.6875|            2.8125|
| stddev| 6.026948052089103|1.7859216469465444|123.93869383138195|68.56286848932059|0.5346787360709716|0.9784574429896968|1.7869432360968436|0.5040161287741853|0.49899091723584604|0.7378040652569471|1.6151999776318522|
|    min|              10.4|                 4|              71.1|               52|              2.76|             1.513|              14.5|                 0|                  0|                 3|                 1|
|    max|              33.9|                 8|             472.0|              335|              4.93|             5.424|              22.9|                 1|                  1|                 5|                 8|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+

In [49]:
# Adding Columns in pyspark dataframe
df_pyspark.withColumn('hp after 2 years',df_pyspark['hp']+2)

DataFrame[mpg: double, cyl: int, disp: double, hp: int, drat: double, wt: double, qsec: double, vs: int, am: int, gear: int, carb: int, hp after 2 years: int]

In [51]:
df_pyspark.withColumn('hp after 2 years',df_pyspark['hp']+2).show()

+----+---+-----+---+----+-----+-----+---+---+----+----+----------------+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|hp after 2 years|
+----+---+-----+---+----+-----+-----+---+---+----+----+----------------+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|             112|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|             112|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|              95|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|             112|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|             177|
|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|             107|
|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|             247|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|              64|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|              97|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|             125|
|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|             125|
|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|             182|
|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|             182|
|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|             182|
|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|             207|
|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|             217|
|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|             232|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|              68|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|              54|
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|              67|
+----+---+-----+---+----+-----+-----+---+---+----+----+----------------+
only showing top 20 rows

In [52]:
# Dro the Columns
df_pyspark.drop('hp after 2 years')

DataFrame[mpg: double, cyl: int, disp: double, hp: int, drat: double, wt: double, qsec: double, vs: int, am: int, gear: int, carb: int]

In [53]:
df_pyspark.drop('hp after 2 years').show()

+----+---+-----+---+----+-----+-----+---+---+----+----+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+----+---+-----+---+----+-----+-----+---+---+----+----+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

In [54]:
# REname the columns
df_pyspark.withColumnRenamed('carb','new carb')

DataFrame[mpg: double, cyl: int, disp: double, hp: int, drat: double, wt: double, qsec: double, vs: int, am: int, gear: int, new carb: int]

In [55]:
df_pyspark.withColumnRenamed('carb','new carb').show()

+----+---+-----+---+----+-----+-----+---+---+----+--------+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|new carb|
+----+---+-----+---+----+-----+-----+---+---+----+--------+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|       4|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|       4|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|       1|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|       1|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|       2|
|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|       1|
|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|       4|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|       2|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|       2|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|       4|
|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|       4|
|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|       3|
|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|       3|
|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|       3|
|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|       4|
|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|       4|
|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|       4|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|       1|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|       2|
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|       1|
+----+---+-----+---+----+-----+-----+---+---+----+--------+
only showing top 20 rows